div1 {
    box-shadow: 0px 2px 2px #f2f2f2;
    position -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    background: url(https://lh3.googleusercontent.com/qO6otL-PWIGXmf4xDojhPtqs1uoKvMV-o7eIkV63Pvawntht2_OmlzKZ4ilczO0L3vHiYB_8Vz8Jcgte7Xh8DGZ7N3ktCduIy4eAI_iCrwdv8rN1R4AYon2DlenZidURkRPAxlJFpFxW01h_MxPt8J8qcIlBLLjaUMnkB37RM-g4-wkIIXQbM83tOt-bsIbc6fND6XMPx-ufvX-zTPhOnLa6qzKLFNdvOtcWTt6WnREAxvd6suS_m-DO5RcekTbgSA62_1nylfl81KMMuqV4b859q03LYiuyyTwINUQ9gNvSJZc3hx6t6Wc0z9VT2GNcADPSBNEOo9GfJUuCNau34N-wxkGhlT-z3CqK-IGCrGJhrf7nOVnjpUUVH5kbsaqhp-7u1bsjNelu3bbACf_vCmZ3oA2pXgFc0ZrHrOq2Nq2VY5CLfMGKvv3eNB8R3R2dRZzZ7lErhK563OPxY_AsytLkmYZQoAQU865V8SpZyBhJEld6k_IA9n9vQrfaG1WQUm86xUbCJraZXUx8bXKKC6ffbA19XFO5CyRgwWMDXE0pkJRrKCdu1GAs0uS4v497rn0K4uA5yilThmy4kQ_tjZf9vp7g-mR8=s646-no);
    background-size: cover;
    width: 675px;
    height: 675px;
}
div {  
 
font-size: 60px;
    color: grey;
    font-family: Tahoma;
	text-align: center;


}
#textt { 
    color: grey;
    font-family: Tahoma;
}
